/* _colors.scss */

/* Standard colors */

$black: #000;
$white: #fff;
$ivory: #f6f6f5;
$off-white: #f8f5f2;
$light-grey: #ccc;
$grey: #9d9d9d;
$medium-grey: #999;
$dark-grey: #666;
$dark: #333;
$red: #ff0000;
$blue:  #0073ba;
$purple: #520B76;
$yellow: #ffff00;
$lime-green: #8be245;
$olive-green: #556B2F;
$gold: #ffce00;

$success: #3adb76;
$warning: #ffae00;
$alert: $red;


/* Brand colors */

$primary-color: #0a284c;
$secondary-color: #31ace2;
$highlight-color: #FFA500;
$base-text: $dark;
$base-background: $white;





