/* Fonts */
@font-face {
    font-family: BaseFont;
    src: url('../fonts/Assistant-Regular.ttf');
}
@font-face {
  font-family: BaseFontBold;
  src: url('../fonts/Assistant-Bold.ttf');
}

$base-font: BaseFont;
$base-font-bold: BaseFontBold;

body {
  //background: $base-background;
  background: $white;
  color: $base-text;
  font-family: $base-font;
  font-size: 100%;
  font-weight: 400;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-bold;
  line-height: 1;
}

.bold {
  font-weight: bold;
}

.text-lg {
  font-size: 1.4em;
}