.btn {
  background: $grey;
  color: $white;
  padding: 0.75em;
  border-radius: $border-radius;
  transition: background 0.3s, color 0.3s;
  &:hover {
    background: $white;
    color: $secondary-color;
  }
  @at-root #{&}--cta {
    background: $secondary-color;
    font-weight: bold;
  }
}

// To top

.to-top {
  position: fixed;
  bottom: 60px;
  right: 12px;
  background: rgba($primary-color, 0.5);
  //padding: 8px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 4px solid rgba($white, 0.8);
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, background 0.3s;
  
  &.show {
      opacity: 0.8;
      visibility: visible;
      &:hover {
          opacity: 1;
      }
  }
  
  span {
      color: $white;
      transform: rotate(-90deg);
      font-size: 2em;
      padding-bottom: 8px;
  }
  @include breakpoint(medium){
      //bottom: 400px;
  }
}
