<section class="demo">
    <div class="grid-container">
      <div class="grid-x grid-padding-x demo__wrapper">
        <div class="medium-6 cell">
          <img src="{{root}}assets/img/demo@2x.png" alt="demo">
        </div>
        <div class="medium-6 cell">
          <div class="demo__content">
              <h2 class="demo__heading">Demo lorem ipsum dolar sit amet</h2>
              <p>Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua.</p>
          </div>
            
        </div>
      </div>
    </div>
</section>