<section class="features">
    <div class="grid-container">
      <div class="grid-x grid-padding-x features__wrapper">
        <div class="medium-4 cell features__item">
          <img src="{{root}}assets/img/icon-fleet.svg" alt="Feature 1">
          <h3>Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut consequat
              semper viverra nam libero justo laoreet
              sit amet.</p>
        </div>

        <div class="medium-4 cell features__item">
            <img src="{{root}}assets/img/icon-workforce.svg" alt="Feature 2">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
          </div>
      

        <div class="medium-4 cell features__item">
            <img src="{{root}}assets/img/icon-insurance.svg" alt="Feature 3">
            <h3>Lorem ipsum dolor sit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut consequat semper viverra nam libero
                justo laoreet sit amet. Lacus luctus
                accumsan tortor posuere ac.</p>
          </div>

          
      </div>
    </div>
</section>