
<footer class="mainfooter">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell mainfooter__copyright">
          Copyright © 2019. Company number XXXXXXX. Registered in England and Wales.
      </div>
      <div class="medium-6 cell mainfooter__credit">
          Website by <a href="https://www.stormcreative.co.uk/"><img src="{{root}}assets/img/footer-logo.png" class="mainfooter__img" alt="Storm"></a>
        </div>
    </div>
  </div>
</footer>
