<header class="homeheader">
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="homeheader__headlines">
            <h2 class="homeheader__secondary">Lorem Ipsum Dolor</h2>
            <h1 class="homeheader__primary">
              <span class="homeheader__text">Lorem</span>
              <span class="homeheader__text homeheader__text--inline homeheader__text--accent homeheader__text--bold">&rsaquo;</span>
              <span class="homeheader__text homeheader__text--inline homeheader__text--bold">Ipsum</span>
            </h1>
            <button class="homeheader__cta btn btn--cta js-cta">Get in Touch</button>
          </div>
            <img class="homeheader__img" src="{{root}}assets/img/home-header@2x.png">
        </div>
      </div>
    </div>      
</header>