<section class="intro">
    <div class="grid-container">
      <div class="grid-x grid-padding-x intro__wrapper">
          <div class="medium-6 cell">
            <div class="intro__content">
                <h2 class="intro__heading">Introduction lorem ipsum dolor sit
                    amet, consectetur adipiscing elit.</h2>
                <p class="intro__para">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
              
          </div>
        <div class="medium-6 cell">
          <img src="{{root}}assets/img/img-office@2x.jpg" alt="Introduction">
        </div>
        
      </div>
    </div>
</section>