<!-- Mobile menu trigger -->
<a href='#' class="menu-trigger js-menutrigger">
    <span class="menu-trigger__span menu-trigger__span--1"></span>
    <span class="menu-trigger__span menu-trigger__span--2"></span>
    <span class="menu-trigger__span menu-trigger__span--3"></span>
</a>

<nav class="menu js-menu">
  <ul class="menu__navlist">
    <li class="menu__navitem">
      <a class="menu__navlink" href="demo">Demo</a>
    </li>
    <li class="menu__navitem">
      <a class="menu__navlink" href="intro">Introduction</a>
    </li>
    <li class="menu__navitem">
      <a class="menu__navlink" href="features">Features</a>
    </li>
    <li class="menu__navitem">
      <a class="menu__navlink menu__navlink--cta" href="contact">Get in touch</a>
    </li>
  </ul>
</nav>

<div class="menu-bg"></div>